.App {
  height: 75vh;
  margin-top: 15vh;
}
.ContactForm {
  width: 100%;
}
.contactForm {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

form {
  margin-top: 20px;
  width: 50%;
}

.formInput {
  padding: 15px 10px;
  margin-bottom: 1.5rem;
  width: 100%;
  border-radius: 5px;
}

.errorMessage {
  color: #f45532;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.submit-btn {
  padding: 15px 50px;
  border-radius: 10px;
  margin-bottom: 25px;
}
.submit-btn:hover {
  background-color: blue;
  color: #fff;
}

@media (max-width: 768px) {
  .submit-message {
    width: 125px;
    margin-left: 200px;
  }
}
